<%= image_tag perfumn.url_image, size: "25x20", class: "rounded-lg " %>
<p class="text-2xl font-ligth">
	<%= perfumn.description %>
</p>

<p>R$ <%= perfumn.price %></p>

<% if perfumn.quality == "Péssimo" %>
	<p>⭐</p>
<% elsif perfumn.quality == "Ruim" %>
	<p>⭐⭐</p>
<% elsif perfumn.quality == "Mediano" %>
	<p>⭐⭐⭐</p>
<% elsif perfumn.quality == "Bom" %>
	<p>⭐⭐⭐⭐</p>
<% elsif perfumn.quality == "Excelente" %>
	<p>⭐⭐⭐⭐⭐</p>
<% end %>

<p class="font-semibold">Review: </p>
<p><%= perfumn.review %></p>