.form {
    display: block;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
}

.form-item {
    margin-top: 10px;
}

.form-submit {
    margin-top: 10px;
}

.form-submit:hover {
    cursor: pointer;
}